%figure.ui-item
  %dropdown
    %span{slot: 'button'} Button
    %ul{slot: 'options'}
      %li
        %a{href: '#'} Item One
      %li
        %a{href: '#'} Item Two
      %li
        %a{href: '#'} Item Three
