@import "lib/reset"
@import "lib/ss-standard"

@import "lib/base"

.ui-item
  border: 1px solid $color-grey-light
  margin-bottom: rhythm(1)
  padding: rhythm(0.5)

  figcaption
    margin-top: rhythm(0.5)
