!!!
%html
  %head
    %meta(charset='utf-8')
    %meta(name='robots' content='noindex')
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    %title Rover

    %link(rel='stylesheet' href='/assets/css/application.css')

    :javascript
      !function(e,t,n,a,c,l,m,o,d,f,h,i){c[l]&&(d=e.createElement(t),d[n]=c[l],e[a]("head")[0].appendChild(d),e.documentElement.className+=" wf-cached"),function s(){for(d=e[a](t),f="",h=0;h<d.length;h++)i=d[h][n],i.match(m)&&(f+=i);f&&(c[l]="/**/"+f),setTimeout(s,o+=o)}()}(document,"style","innerHTML","getElementsByTagName",localStorage,"tk",/^@font|^\.tk-/,100);
    %script(src="https://use.typekit.net/kes2xns.js")
    :javascript
      try {
        Typekit.load({ async: true });
      } catch (e) { }

  %body
    #app
      %panel{'v-bind:messages' => flash.to_h.to_json}

    %script(src='/assets/jsc/application.js')
